<nav>
	<div id="site-logo">
		<h1>LOGO</h1>
	</div>

	<div id="nav-links">

		<p class="uppercase"><a href="/create">
			<i class="fa fa-i-cursor" aria-hidden="true"></i>
			Create
		</a></p>

		<p class="uppercase"><a href="/playlists">
			<i class="fa fa-list-ul" aria-hidden="true"></i>
			Your Playlists
		</a></p>

		<p id="logout"><a href="">
			Log Out
		</a></p>

	</div>
</nav>