<% if(alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger">
    	<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    	<%= msg %>
    </div>
  <% }); %>
<% } %>
<% if(alerts.success) { %>
  // <% alerts.success.forEach(function(msg) { %>
  //   <div class="alert alert-success"><%= msg %></div>
  // <% }); %>
<% } %>