<% include nav %>

<div class="main-container">
	<div class="container" id ="search-container">
		<h1>Type your text here:</h1>
		<form class="form" method="post" action="/" id="search-form">
			<div class="form-group">
				<textarea class="form-control" name="sentence" id="sentence" placeholder="Type your text here">hello world</textarea>
				<input type="submit" class="btn btn-primary" value="Create Playlist">
			</div>
		</form>
	</div>

	<div class="container" id="search-results">

		<h4 id="playlist-header">
			<i class="fa fa-list-ul" aria-hidden="true"></i>
			<span class="playlist-name" id="playlist-result-name">hello world</span> Playlist
		</h4>
		<hr>

		<div class="tracks" id="results-tracks">

			<div class="track">
				<div class="cover-thumb">
					<a href="https://open.spotify.com/track/0ENSn4fwAbCGeFGVUbXEU3" target="_blank">
					<i class="fa fa-play-circle" aria-hidden="true"></i>
					<div class="play-button-fill"></div>
					<img src="https://i.scdn.co/image/7afb855c28a2c8ad5ed9d51460736f4022e60bbf">
					</a>
				</div>
				<div class="track-details">
				  <h4><a href="https://open.spotify.com/track/0ENSn4fwAbCGeFGVUbXEU3" target="_blank">Hello</a></h4>
				  <p>Artist: <a href="https://open.spotify.com/artist/4dpARuHxo51G3z768sgnrY" target="_blank">Adele</a></p>
				  <p>Album: <a href="https://open.spotify.com/album/0K4pIOOsfJ9lK8OjrZfXzd" target="_blank">25</a></p>
				</div>
			</div>

			<div class="track">
				<div class="cover-thumb">
					<a href="https://open.spotify.com/track/6qwGBEapykrbAHTYlYwONN" target="_blank">
					<i class="fa fa-play-circle" aria-hidden="true"></i>
					<div class="play-button-fill"></div>
					<img src="https://i.scdn.co/image/1b1fda66071bd81463405ceeecf8e6b9528568b0">
					</a>
				</div>
				<div class="track-details">
				  <h4><a href="https://open.spotify.com/track/6qwGBEapykrbAHTYlYwONN" target="_blank">Cole World</a></h4>
				  <p>Artist: <a href="https://open.spotify.com/artist/6l3HvQ5sa6mXTsMTB19rO5" target="_blank">J. Cole</a></p>
				  <p>Album: <a href="https://open.spotify.com/album/4skqOUXyBUnzxVPNPxrGWV" target="_blank">Cole World: The Sideline Story</a></p>
				</div>
			</div>

		</div>

		<p id="error"></p>

		<form class="form" method="post" action="/playlists" id="add-playlist">
			<div class="form-group">
				<input type="submit" class="btn btn-secondary" id="btn-add-playlist" value="Add to Playlists">
			</div>
		</form>

	</div>
</div>

<div class="background-image"></div>