<div id ="search-container">
	<h1>Type your text here</h1>
	<form class="form" method="post" action="/" id="search-form">
		<div class="form-group">
			<textarea cols="60" rows="8" class="form-control" name="sentence" id="sentence" placeholder="Type your text here"></textarea>
			<input type="submit" class="btn btn-submit" value="Create Playlist">
		</div>
	</form>
</div>

<div id="search-results">
	<h1>Matching Tracks</h1>
	<div id="tracks"></div>
	<p id="error"></p>
	<form class="form" method="post" action="/" id="add-playlist">
		<div class="form-group">
			<input type="submit" class="btn btn-submit" value="Add to Your Playlists">
		</div>
	</form>
</div>

<!-- <div class='track'>
  <img src="https://i.scdn.co/image/a9879773b45dbe5d112d98e1fd2dc5576aeb91e5">
  <div class='track-details'>
    <h4>Track</h4>
    <p>Album:</p>
    <p>Artist:</p> 
  </div>
<div> -->