<!-- <a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/create">Create</a>
<a href="/playlists">Playlists</a> -->

<% include mosaic-bkg %>

<div class="form-container">

	<h1 class="form-header">
		<img src="/img/phraselist-logo.png" class="phraselist-logo" alt="phraselist-logo">
	</h1>

	<p class="body-text">
		<strong>Phraselist</strong> uses the Spotify API to build playlists based on any phrase you type. For example, typing "yellow banana" might give you something like "<strong>Yellow</strong>" by Coldplay and "<strong>Banana</strong> Pancakes" by Jack Johnson. Give it a shot! 
	</p>

	<span class="login-links">
		<a href="/auth/login" class="btn btn-primary">Log In</a>
		<a href="/auth/signup"><p class="body-text"><strong>
			Sign Up
		</strong></p></a>
	</span>
	
</div>