<!-- <a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/create">Create</a>
<a href="/playlists">Playlists</a> -->

<% include partials/mosaic-bkg %>

<div class="form-container">

	<h1 class="form-header">
		LOGO
	</h1>

	<p class="body-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor id nunc ultrices mollis. Donec ut leo id diam mattis placerat vel vel quam. Nullam eu erat nec mi suscipit tristique sit amet id nunc. 
	</p>

	<span class="login-links">
		<a href="/auth/login" class="btn btn-primary">Log In</a>
		<a href="/auth/signup"><p class="body-text">Sign Up</p></a>
	</span>
	
</div>