<% include partials/nav %>

<style>
 	body { 
		background: linear-gradient(135deg,#1DB954,#0a7f92,#421469) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<h1></h1>