<% include partials/nav %>

<style>
 	body { 
		background: linear-gradient(135deg,#1DB954,#0a7f92,#421469) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<div class="your-playlists">
	<h1 id="your-playlists-header">
		<i class="fa fa-list-ul" aria-hidden="true"></i>
		Your Playlists
	</h1>

	<div id="playlists">

		<% playlists.forEach(function(playlist) { %>

		<div class="playlist-container" id="<%= playlist.id %>">
			<a href="playlists/<%= playlist.id %>">
				<div class="img-container">
					<img src="/img/list.svg" class="playlist-icon" alt="playlist">
					<img src="<%= playlist.cover %>" class="playlist-cover">
				</div>
			</a>
			<h4 class="playlist-name">
				<%= playlist.name %>
			</h4>
			<button class="btn delete-link">
				<i class="fa fa-times" aria-hidden="true"></i> 
				Remove
			</button>  
		</div>

	<% }); %>

	</div>
</div>