<% include nav %>

<style>
 	body { 
		background: linear-gradient(135deg,#1DB954,#0a7f92,#421469) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>

<div class="playlist-details">

	<div class="playlists-details-header">
		<h1>
			<i class="fa fa-list-ul" aria-hidden="true"></i>
			Playlist Name
		</h1>
	</h1>

	<div class="tracks">
		<hr>
		<div class="track">
			<a href="https://open.spotify.com/track/0ENSn4fwAbCGeFGVUbXEU3"><img src="https://i.scdn.co/image/220fe5804f244f41aa216c4e3de17eafbf552341"></a>
			<div class="track-details">
			  <h4><a href="https://open.spotify.com/track/0ENSn4fwAbCGeFGVUbXEU3">Hello</a></h4>
			  <p>Artist: <a href="https://open.spotify.com/artist/4dpARuHxo51G3z768sgnrY">Adele</a></p>
			  <p>Album: <a href="https://open.spotify.com/album/1Eo1pg2D4beFgf3HFTJTMc">25</a></p>
			</div>
		</div>
		<hr>

		<div class="track">
			<a href="https://open.spotify.com/track/6qwGBEapykrbAHTYlYwONN"><img src="https://i.scdn.co/image/1b1fda66071bd81463405ceeecf8e6b9528568b0"></a>
			<div class="track-details">
			  <h4><a href="https://open.spotify.com/track/6qwGBEapykrbAHTYlYwONN">Cole World</a></h4>
			  <p>Artist: <a href="https://open.spotify.com/artist/6l3HvQ5sa6mXTsMTB19rO5">J. Cole</a></p>
			  <p>Album: <a href="">Cole World: The Sideline Story</a></p>
			</div>
		</div>
	</div>
</div>