/*** GLOBAL STYLES ***/

body {
	font-size: 62.5%; 
	font-family: 'Raleway', sans-serif;
	color: #191419;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

.background-image {
	background: url("/img/716943b243e865ecd71daee6ea470c5dcbe5dd78.jpeg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	filter: blur(100px) saturate(150%);
	width: 100%;
	height: 100%;
	transform: scale(1.3);
	position: absolute;
	top: 0;
}

.main-container {
	width: 960px;
	max-width: 90%;
	display: flex;
	justify-content: center;
	box-shadow: 0 .7em 9em rgba(0,0,0,.2);
	margin: 10% 0;
}

.container {
	padding: .2em 3em;
	overflow: auto;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
	transform: translateX(-.08em);
}

h2 {
	font-size: 2.6em;
	font-weight: 700;
	padding: 0;
}

h3 {
	font-size: 2.2em;
	font-weight: 700;
	padding: 0;
}


h4 {
	font-size: 1.8em;
	font-weight: 700;
}

p {
	font-size: 1.5em;
	font-weight: 600;
}

p.body-text {
	font-size: 1.7em;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 1.5em;
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: #07ab41;
	transition-property: color;
	transition-duration: 200ms;
}

a:hover {
	color: #1bcf5a;
	cursor: pointer;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: #e3e8e0;
  height: 1px;
  margin: .5em 0 2em 0;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: .3em;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: .15em;
	text-transform: uppercase;
	padding: .7em 1.1em .8em 1.1em;
	border-radius: 3em;
	margin: 1.8em 0 2em 0;
	transform: translateX(-.1em);
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background-color: #1DB954;
	border-top: .05em solid #65eb95;
	border-bottom: .05em solid #059136;
	box-shadow: 0 .05em .2em #666;
	padding: .8em 1.1em .8em 1.1em;
	margin: 1.7em 0 2em 0;
	color: white;
	transition-property: background-color;
	transition-duration: 200ms;
}

.btn-primary:hover {
	background-color: #1bc858;
	color: white;
}

.btn-secondary {
	background-color: #F2F2ED;
	border-top: .05em solid white;
	border-bottom: .05em solid #D5D5D1;
	box-shadow: 0 .04em .35em #bbb;
	color: #191419;
	transition-property: background-color, box-shadow;
	transition-duration: 200ms;
}

.btn-secondary:hover {
	background-color: #e8ebe2;
	box-shadow: 0 .04em .35em #9b9a9a;
}


/*** NAV BAR STYLES ***/

nav {
	background-color: #191419;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#site-logo {
	margin: 0 2.5%;
}

#nav-links {
	margin-right: 2.5%;
}

#nav-links a {
	color: #d3d3c7;
	transition-property: color;
	transition-duration: 200ms;
}

#nav-links p {
	display: inline-block;
	margin-left: 3em;
	font-size: 1.3em;
	font-weight: 500;
}

#nav-links a:hover {
	color: white;
}

#nav-links i {
	color: #1DB954;
}

p#logout {
	font-size: 1.4em;
	letter-spacing: .1em;
}

.fa-i-cursor {
	font-weight: 900;
}


/*** HOME PAGE AND LOGIN/SIGNUP STYLES ***/

.form-container {
	background-color: #191419;
	color: white;
	width: 440px;
	max-width: 90%;
	box-shadow: 0 .7em 6em rgba(0,0,25,.5);
	border-top: .3em solid #333;
	border-bottom: .3em solid black;
	padding: 1.5em 4em;
	border-radius: 1.5em;
}

.form-header {
	margin-top: .5em;
	font-weight: 800;
	text-align: center;
}

.login-links { 
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2em 0 1em 0;
}

.login-links .btn {
	margin: 0;
}

.login-links p {
	margin-bottom: 1.1em;
	margin-left: 1.5em;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.form-group-login {
	margin: 1em 0;
	width: 100%;
}

label {
	font-size: 1.7em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	letter-spacing: .04em;
	margin-bottom: .3em;
}

input {
	font-family: 'Raleway', sans-serif;
	letter-spacing: .04em;
}

input.btn-login {
	margin: 2.2em 0 1.8em 0;
	padding: .9em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #78787f;
}


input.form-control {
	width: 95.5%;
	font-size: 1.7em;
	padding: .5em;
	background-color: #292732;
	box-shadow: 0 0 0 100em #292732 inset;
	color: white;
	border-top: 2px solid black;
	border-bottom: 2px solid #333;
}

select {
	background-color: red;
}

.alert {
	font-size: 1.7em;
	text-align: center;
	margin-bottom: .3em;
	font-weight: 600;
	letter-spacing: 0.03em;
}

.alert-danger {
	color: #eb4252;
}


/*** SEARCH FORM STYLES ***/

#search-container {
	width: 50%;
	background-color: #F2F2ED;
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
}

.form-group {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

textarea {
	border: .1em solid #e3e8e0;
	border-radius: .3em;
	padding: .5em;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	background-color: white;
	width: 240%;
	height: 11.6em;
	margin-top: .2em;
	margin-bottom: .5em;
}

textarea:focus {
	outline: 1px solid #1DB954;
}


/*** PLAYLIST SEARCH RESULTS STYLES ***/

#search-results {
	width: 50%;
	background-color: white;
	display: flex;
	flex-direction: column;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}

#search-results h1 {
	margin-bottom: .15em;
}

#search-results i {
	margin-right: .3em;
}

#playlist-header {
	margin-top: 1.9em;
	font-weight: 800;
}

.track {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: .9em 0 2em 0;
}

.track img {
	margin-right: .3em;
}

.track-details {
	margin-left: 1.2em;
}

.track-details h4 {
	margin: -.25em 0 .4em 0;
}

.track-details p {
	margin: .4em 0 .5em 0;
}

#error {
	margin: -1.3em 0 0 0;
}

#btn-add-playlist {
	margin: 1.6em 0 2.5em 0;
}


/*** YOUR PLAYLISTS PAGE STYLES ***/

.your-playlists {
	background-color: #191419;
	color: white;
	width: 900px;
	max-width: 90%;
	box-shadow: 0 .7em 6em rgba(10,13,2,.55);
	border-top: .3em solid #333;
	border-bottom: .3em solid black;
	margin: 10% 0;
	padding: 1.5em 30px;
	border-radius: 3em;
}

.your-playlists h1 {
	font-size: 3.6em;
	text-align: center;
	letter-spacing: 0.02em;
	margin: .7em 0 .9em 0;
}

#your-playlists-header i {
	margin-right: .2em;
	color: #1DB954;
}

#playlists {
	display: flex;
	flex-wrap: wrap;
}

.img-container {
	filter: brightness(100%);
	transition-property: filter;
	transition-duration: 200ms;
}

.img-container:hover {
	filter: brightness(120%);
}

.playlist-container {
	width: 18.4%;
	padding: 1.5em 3.3% 1.8em 3.3%;
	margin-bottom: 2.5em;
}

.playlist-container img {
	width: 100%;
}

.playlist-name {
	text-transform: capitalize;
}

.img-container {
	overflow: hidden;
	border-radius: .4em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.playlist-cover {
	filter: blur(15px) saturate(150%);
	transform: scale(1.3);
}

.playlist-icon {
	width: 50%;
	height: 50%;
	z-index: 1;
	position: absolute;
	opacity: .5;
}

.delete-link {
	border: 2px solid #666;
	color: #666;
	transition-property: color, border;
	transition-duration: 200ms;
	margin: 0;
	padding: .5em .8em .5em .8em;
}

.delete-link:hover {
	border: 2px solid #1DB954;
	color: #1DB954;
}